/* Estilo para o título da página de produto (com classe 'page-title-small') */
.product.text-container.page-title-small {
    margin-top: 24px;
}

/* Estilo para o contêiner de texto do produto */
.product.text-container {
    margin: 10px 0px;
}

/* Estilo para o subtítulo do produto (h4) */
.product.text-container h4 {
    font-weight: 400;
    font-size: 0.875em;
    padding-bottom: 5px;
}

/* Estilo para o texto principal do produto */
.product.main-text {
    font-size: 1.2em;
}

/* Estilo para o contêiner de imagens do produto */
.product_images_container {
    display: flex;
    column-gap: 32px;
}

/* Estilo para o seletor de imagens (miniaturas) */
.images_selector {
    display: flex;
    flex-direction: column;
    flex-basis: 120px;
    align-items: center;
}

/* Estilo para ícones dentro de elementos com classe 'bi' */
.bi::before, [class*=" bi-"]::before, [class^=bi-]::before {
    padding: 6px;
    font-size: 24px;
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: 900 !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -0.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Estilo para a lista de imagens (miniaturas) */
.images_selector ul {
    list-style: none;
}

/* Estilo para os itens da lista de miniaturas */
.images_selector li {
    padding: 10px 0;
}

/* Estilo para a miniatura de imagem */
.product_thumb {
    width: 100%;
}

/* Estilo para a imagem principal */
.images_main {
    flex-basis: 565px;
    padding-top: 75px;
}

/* Estilo para a imagem principal */
.images_main img {
    width: 100%;
}

/* Estilo para o contêiner da descrição do produto */
.product_description_container {
    padding-top: 32px;
}

/* Estilo para o título principal da descrição */
.product_description_container h3.main-text {
    padding: 20px 0 12px;
    font-size: 1.2em;
}

/* Estilo para os parágrafos na descrição do produto */
.product_description_container p {
    line-height: 24px;
    padding-bottom: 32px;
}

/* Estilo para o contêiner de preços do produto */
.product_price_container {
    padding-bottom: 40px;
}

/* Estilo para o título de preço principal (h2) */
.product_price_container h2 {
    font-size: 2em;
    font-weight: 700;
    padding-bottom: 16px;
    line-height: 18px;
}

/* Estilo para o subtítulo de preço (h5) */
.product_price_container h5 {
    font-size: 0.875em;
    font-weight: 400;
    padding-bottom: 10px;
    line-height: 18px;
}

/* Estilo para o seletor de quantidade */
.quantity {
    display: flex;
    justify-content: center;
    column-gap: 16px;
}

/* Estilo para o campo de entrada de quantidade */
.quantity input {
    border: 1px solid var(--brand-color);
    border-radius: 5px;
    padding: 4px 8px;
    width: 100%;
    font-size: 20px;
}

/* Estilo para o botão de compra */
.shop_btn {
    padding: 16px 32px;
    color: red;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    background-color: black;
}

/* Estilo para o contêiner de frete */
.freight_container {
    border: 1px solid rgb(15, 14, 14);
    padding: 8px 16px;
    border-radius: 5px;
    margin-bottom: 30px;
}

/* Estilo para o contêiner interno dentro do 'freight_container' */
.freight_container .container-flex {
    border-radius: 5px;
    margin: 8px 0px 5px;
    column-gap: 5px;
}

/* Estilo para o rótulo dentro do formulário de frete */
.freight_container form label {
    font-size: 0.875em;
}

/* Estilo para o campo de texto no formulário de frete */
.freight_container form input[type="text"] {
    border: 1px solid var(--brand-color);
    border-radius: 5px;
    padding: 4px 8px;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
}

/* Estilo para o botão no formulário de frete */
.button {
    padding: 4px 8px;
    color: var(--bg-white);
    background-color: var(--brand-color);
    border: none;
    border-radius: 5px;
}

/* Estilo para os links dentro do contêiner de frete */
.freight_container p a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 12px;
}

/* Estilo para o contêiner de precificação do frete */
.freight_pricing {
    background-color: #FFF2E7;
    border: 1px solid rgb(0, 0, 0);
    padding: 16px 16px;
    border-radius: 5px;
    justify-content: flex-start;
    column-gap: 20px;
    margin-bottom: 16px;
}

/* Estilo para os títulos de precificação */
.pricing h3 {
    font-size: 1em;
    font-weight: 700;
    line-height: 18px;
}

/* Estilo para os parágrafos dentro do contêiner de precificação */
.pricing p {
    font-size: 0.875em;
    font-weight: 400;
    line-height: 18px;
}

/* Estilo específico para os preços nos itens 4, 5 e 6 */
.freight_pricing:nth-child(4), 
.freight_pricing:nth-child(5), 
.freight_pricing:nth-child(6) {
    background-color: #FFF2E7;
}
